<div class="gb-breadcrumb section-before gb-parallax">
  <div class="container text-center">
    <div class="breadcrumb-info">
      <ol class="breadcrumb">
        <li class="breadcrumb-item font-pacifico"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Contact</li>
      </ol>
      <div class="page-title">
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
          laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
      </div>
    </div>
  </div>
</div>
<div class="gb-map section-padding">
  <div class="container">
    <div id="gmap"></div>
  </div>
</div>
<div class="section-padding">
  <div class="container text-center">
    <div class="section-title">
      <h1 class="font-pacifico">Drop a line</h1>
      <h2>Contact Form</h2>
      <span><i class="fa fa-empire" aria-hidden="true"></i></span>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
        dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
    </div>
    <form class="gb-form" name="contact-form" method="post" action="#">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" required="required" placeholder="Your Name">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="email" class="form-control" required="required" placeholder="Your Email">
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <input type="text" class="form-control" required="required" placeholder="Contact Number">
          </div>
        </div>
        <div class="col-sm-12">
          <div class="form-group">
            <textarea name="message" class="form-control" required="required" rows="5"
              placeholder="Enter Your Requirements..."></textarea>
          </div>
          <input type="submit" class="btn btn-primary text-center" value="Submit">
        </div>
      </div>
    </form>
  </div>
</div>