<div class="gb-footer">
    <div class="footer-top section-padding section-before gb-parallax"
      style="background-image: url(assets/images/bg/footer-bg.jpg);">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget opening-hour">
              <h3>Horario de apertura</h3>
              <ul class="global-list">
                <li> Domingo <span class="time">09:00 - 23:00</span></li>
                <li> Lunes <span class="time">09:00 - 23:00</span></li>
                <li> Martes <span class="time">09:00 - 23:00</span></li>
                <li> Miércoles <span class="time">09:00 - 23:00</span></li>
                <li> Jueves <span class="time">09:00 - 23:00</span></li>
                <li> Viernes <span class="star">*</span> <span class="time">09:00 - 23:00</span></li>
              </ul>
              <span class="weekly-closed">Sábado cerrado</span>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget locations">
              <h3>Nuestras Sedes</h3>
              <span>Jalebi 1</span>
              <address>123 Av. Trujillo, <br>Lima 7250 <br>Tel : #456789</address>
              <span>Jalebi 2</span>
              <address>123 Av. Cajamarca, <br>Lima 7250 <br>Tel : #456789</address>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget contact">
              <h3>Contacto</h3>
              <ul class="global-list">
                <li><span class="mr-1">Tel No :</span>
                  <div class="media-body">012 - 3456789<br> 012 - 3456789</div>
                </li>
                <li><span class="mr-1">Email :</span>
                  <div class="media-body"><a href="#"><span class="__cf_email__"
                        data-cfemail="295d4c48694348454c4b40074a4644">jalebi23.correo.com</span></a></div>
                </li>
                <li><span class="mr-1">Website:</span>
                  <div class="media-body"><a href="#">www. jalebi-food.com</a></div>
                </li>
                <li><span>Social :</span>
                  <div class>
                    <ul class="global-list footer-social">
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="footer-widget newsletter">
              <h3>Boletín</h3>
              <p>Noticias de comida sabrosas y libres de spam en su bandeja de entrada.</p>
              <form method="post" action="#">
                <div class="form-group">
                  <input type="email" class="form-control" required="required" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="submit" class="btn btn-primary">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom text-center">
      <div class="container">
        <span>&copy; Copyright 2024 <a href="#">jalebi.</a> Todos los derechos reservados.</span>
      </div>
    </div>
  </div>
