<div id="home" class="gb-banner section-before">
    <div class="container">
      <div class="banner-info">
        <h1 class="font-pacifico">Bienvenido a</h1>
        <h2>Jalebi Food</h2>
        <p>¡Bienvenidos! Disfruta de un viaje de sabores únicos.
          </p>
        <a href="#" class="btn btn-primary">Explorar ahora</a>
      </div>
    </div>
  </div>
  <div id="about" class="gb-about-us section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-assets/images">
            <div class="about-image">
              <img src="assets/images/others/about1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="about-image image-absolute">
              <img src="assets/images/others/about2.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="about-info">
            <div class="about-title">
              <span class="font-pacifico">Bienvenido a Jalebi</span>
              <h1>Acerca de Jalebi Food ?</h1>
            </div>
            <p>Un lugar donde la pasión por la gastronomía y
               el amor por la buena comida se encuentran! Disfruta de una experiencia culinaria única 
               con nuestra amplia variedad de platos elaborados con ingredientes frescos y de calidad.
                Nuestro menú combina sabores tradicionales con toques modernos, 
              ofreciendo desde delicias locales hasta exquisitos platos internacionales.</p>
            <p>Cada visita es una invitación a un viaje de sabores en un ambiente acogedor y familiar.
               ¡Ven y descubre por qué somos el lugar perfecto para tus momentos especiales!</p>
            <a href="https://www.youtube.com/watch?v=AI3pORAXU4g" class="btn btn-primary video-link">Ver video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-cta section-padding section-before gb-parallax" style="background-image: url(assets/images/bg/cta-bg.jpg)">
    <div class="container text-center">
      <div class="cta-info">
        <h1 class="font-pacifico">¡Bienvenidos a Jalebi Restaurant!</h1>
        <h3>Servimos una variedad de bocadillos y comidas. ¿Listo para reservar tu mesa?</h3>
        <a href="#" class="btn btn-primary">Reserva tu mesa ahora</a>
      </div>
    </div>
  </div>
  <div id="food-menu" class="gb-food-menu section-padding" style="background-image: url(assets/images/bg/pattern-menu.png);">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Bienvenido to Jalebi</h1>
        <h2>Nuestro menú</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p> Sorpréndete con combinaciones innovadoras que resaltan lo mejor de la cocina tradicional con un toque contemporáneo. 
          ¡Déjate llevar por un viaje culinario inigualable y vive el placer de comer bien! </p>
      </div>
      <div class="food-menu text-left">
        <ul class="global-list">
          <li>
            <div class="item-image">
              <img src="assets/images/menu/1.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/1.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/2.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/2.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$17</span>
                <h3>Pastries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/3.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/3.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$25</span>
                <h3>Soupe Au Pistou</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/4.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/4.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$12</span>
                <h3>Homemade Burger</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/5.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/5.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$16</span>
                <h3>French Fries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/6.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/6.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$10</span>
                <h3>Ciabatta Bread</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/7.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/7.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$19</span>
                <h3>Croissant With Fruits</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/8.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/8.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/9.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/9.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$12</span>
                <h3>Pastries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/10.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/10.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/11.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/11.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$08</span>
                <h3>Ciabatta bread</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
          <li>
            <div class="item-image">
              <img src="assets/images/menu/12.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/12.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$14</span>
                <h3>French Fries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="gb-convenience section-before section-padding gb-parallax"
    style="background-image: url(assets/images/bg/convenience-bg.jpg)">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-kids-scooter"></i></span>
            <h4>Zona Infantil</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-wifi-router"></i></span>
            <h4>WiFi Gratis</h4>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-direction-sign"></i></span>
            <h4>Plaza de aparcamiento</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="reservation" class="section-padding" style="background-image: url(assets/images/bg/pattern-reservation.png);">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Listo para conseguir tu mesa</h1>
        <h2>Reservación</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Reserva tu mesa ahora y asegura tu lugar en una experiencia culinaria inolvidable. 
          Ya sea para una cena íntima, una celebración especial o una reunión de negocios,
           te ofrecemos un ambiente acogedor y un servicio excepcional </p>
      </div>
      <form class="gb-form" name="contact-form" method="post" action="#">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" required="required" placeholder="Your Name">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="email" class="form-control" required="required" placeholder="Your Email">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" required="required" placeholder="Contact Number">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control">
                <option value="#">Personas</option>
                <option value="#">1 Persona</option>
                <option value="#">2 Personas</option>
                <option value="#">3 Personas</option>
                <option value="#">4 Personas</option>
                <option value="#">5 Personas</option>
                <option value="#">6 Personas</option>
                <option value="#">7 Personas</option>
                <option value="#">8 Personas</option>
                <option value="#">9 Personas</option>
                <option value="#">10 Personas</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="date" class="form-control" value="2017-11-10">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control">
                <option value="#">Time</option>
                <option value="#">Time 8:00am</option>
                <option value="#">Time 8:30am</option>
                <option value="#">Time 9:00am</option>
                <option value="#">Time 9:30am</option>
                <option value="#">Time 10:00am</option>
                <option value="#">Time 10:30am</option>
                <option value="#">Time 11:00am</option>
                <option value="#">Time 11:30am</option>
                <option value="#">Time 12:00pm</option>
                <option value="#">Time 12:30pm</option>
                <option value="#">Time 1:00pm</option>
                <option value="#">Time 1:30pm</option>
                <option value="#">Time 2:00pm</option>
                <option value="#">Time 2:30pm</option>
                <option value="#">Time 3:00pm</option>
                <option value="#">Time 3:30pm</option>
                <option value="#">Time 4:00pm</option>
                <option value="#">Time 4:30pm</option>
                <option value="#">Time 5:00pm</option>
                <option value="#">Time 5:30pm</option>
                <option value="#">Time 6:00pm</option>
                <option value="#">Time 6:30pm</option>
                <option value="#">Time 7:00pm</option>
                <option value="#">Time 7:30pm</option>
                <option value="#">Time 8:00pm</option>
                <option value="#">Time 8:30pm</option>
                <option value="#">Time 9:00pm</option>
                <option value="#">Time 9:30pm</option>
                <option value="#">Time 10:00pm</option>
                <option value="#">Time 10:30pm</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <textarea name="message" class="form-control" required="required" rows="5"
                placeholder="Enter Your Requirements..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary text-center" value="Solicitud de reserva">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="gallery" class="gb-gallery">
    <div class="container-fluid text-center">
      <div class="gallery-content">
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/1.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/1.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/2.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/2.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/3.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/3.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/4.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/4.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/5.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/5.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="gallery">
          <div class="gallery-image">
            <img src="assets/images/gallery/6.jpg" alt="Image" class="img-fluid">
            <div class="gb-overlay">
              <div class="overlay-content">
                <a href="assets/images/gallery/6.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="blog" class="gb-blog section-padding">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Mantente al día con nosotros</h1>
        <h2>Nuestro Blog</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Bienvenidos a nuestro blog, el espacio donde compartimos la esencia 
          de nuestra cocina. Descubre recetas exclusivas, historias detrás de nuestros 
          platos y consejos gastronómicos que te inspirarán. Aquí, celebramos el arte de 
          cocinar y el placer de disfrutar cada bocado.</p>
      </div>
      <div class="blog-content text-left">
        <div class="row">
          <div class="col-lg-4">
            <div class="gb-post">
              <div class="entry-header">
                <div class="entry-thumbnail">
                  <a href="blog-details.html"><img src="assets/images/blog/1.jpg" alt="Image" class="img-fluid"></a>
                </div>
              </div>
              <div class="entry-content">
                <h2 class="entry-title"><a href="blog-details.html">Consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod.</a></h2>
                <div class="clearfix">
                  <div class="post-time">
                    <span>02<span>Nov</span></span>
                  </div>
                  <div class="entry-meta">
                    <ul class="global-list list-inline">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                          Simon</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                          Comments</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Web
                          Design</a></li>
                    </ul>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="gb-post">
              <div class="entry-header">
                <div class="entry-thumbnail">
                  <a href="blog-details.html"><img src="assets/images/blog/2.jpg" alt="Image" class="img-fluid"></a>
                </div>
              </div>
              <div class="entry-content">
                <h2 class="entry-title"><a href="blog-details.html">Consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod.</a></h2>
                <div class="clearfix">
                  <div class="post-time">
                    <span>05<span>Nov</span></span>
                  </div>
                  <div class="entry-meta">
                    <ul class="global-list list-inline">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                          Simon</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                          Comments</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Web
                          Design</a></li>
                    </ul>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="gb-post">
              <div class="entry-header">
                <div class="entry-thumbnail">
                  <a href="blog-details.html"><img src="assets/images/blog/3.jpg" alt="Image" class="img-fluid"></a>
                </div>
              </div>
              <div class="entry-content">
                <h2 class="entry-title"><a href="blog-details.html">Consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod.</a></h2>
                <div class="clearfix">
                  <div class="post-time">
                    <span>07<span>Nov</span></span>
                  </div>
                  <div class="entry-meta">
                    <ul class="global-list list-inline">
                      <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                          Simon</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                          Comments</a></li>
                      <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o" aria-hidden="true"></i>Web
                          Design</a></li>
                    </ul>
                  </div>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
                  laoreet dolore magna aliquam erat volutpat. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-center">
            <a href="#" class="btn btn-primary">See All News & Blog</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-testimonial section-before section-padding gb-parallax"
    style="background-image: url(assets/images/bg/testimonial-bg.jpg)">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="testimonial-content">
            <h1 class="font-pacifico">People What Saying About Jalebi !!</h1>
            <div class="testimonial-slider">
              <div class="testimonial">
                <div class="pull-left">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat .</p>
                  <div class="testimonial-title">
                    <h2>Tony Broden, <span>Food Minister</span></h2>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="pull-left">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat .</p>
                  <div class="testimonial-title">
                    <h2>Tony Broden, <span>Food Minister</span></h2>
                  </div>
                </div>
              </div>
              <div class="testimonial">
                <div class="pull-left">
                  <i class="fa fa-quote-left" aria-hidden="true"></i>
                </div>
                <div class="media-body">
                  <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum
                    dolore eu feugiat .</p>
                  <div class="testimonial-title">
                    <h2>Tony Broden, <span>Food Minister</span></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 testimonial-image text-center">
          <img src="assets/images/testimonial-image.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
  <div class="gb-barnds section-padding">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">We have created value</h1>
        <h2>Our Brand</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
      </div>
      <div class="barnd-slider">
        <div class="barnd">
          <img src="assets/images/Brand/1.png" alt="Image" class="img-fluid">
        </div>
        <div class="barnd">
          <img src="assets/images/Brand/2.png" alt="Image" class="img-fluid">
        </div>
        <div class="barnd">
          <img src="assets/images/Brand/3.png" alt="Image" class="img-fluid">
        </div>
        <div class="barnd">
          <img src="assets/images/Brand/4.png" alt="Image" class="img-fluid">
        </div>
        <div class="barnd">
          <img src="assets/images/Brand/3.png" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
