<div class="gb-breadcrumb section-before gb-parallax">
    <div class="container text-center">
      <div class="breadcrumb-info">
        <ol class="breadcrumb">
          <li class="breadcrumb-item font-pacifico"><a href="index.html">Inicio</a></li>
          <li class="breadcrumb-item active">Acerca</li>
        </ol>
        <div class="page-title">
          <h1>Acerca de Jalebi</h1>
          <p>Cada visita es una invitación a un viaje de sabores en un ambiente acogedor y familiar.
            ¡Ven y descubre por qué somos el lugar perfecto para tus momentos especiales! </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-about-us section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="about-assets/images">
            <div class="about-image">
              <img src="assets/images/others/about1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="about-image image-absolute">
              <img src="assets/images/others/about2.jpg" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="about-info">
            <div class="about-title">
              <span class="font-pacifico">Bienvenido a Jalebi</span>
              <h1>About Jalebi Food ?</h1>
            </div>
            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare
              quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per
              seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant
              sollemnes in futurum.</p>
            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore
              eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui humanitatis per seacula
              quarta decima.</p>
            <a href="https://www.youtube.com/watch?v=AI3pORAXU4g" class="btn btn-primary video-link">Watch Video</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-cta section-padding section-before gb-parallax" style="background-image: url(assets/images/bg/cta-bg.jpg)">
    <div class="container text-center">
      <div class="cta-info">
        <h1 class="font-pacifico">Le damos la bienvenida a Jalebi Restaurant !</h1>
        <h2>Servimos una variedad de bocadillos y comidas. ¿Listo para reservar tu mesa?</h2>
        <a href="#" class="btn btn-primary">Reserva tu mesa ahora</a>
      </div>
    </div>
  </div>
  <div id="about" class="gb-about section-padding">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Nuevo en Jalebi</h1>
        <h2>¿Por qué elegir Jalebi?</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
      </div>
      <div class="about-content text-left">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-dining-table"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Mesas limpias</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-spoon-and-fork"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Plato limpio</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-tea"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida presente</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-sushi"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Communicación</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-beer"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Servicio especial</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-pizza"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida única</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-noodles"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida rápida</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-french-fries"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Ambiente amigable</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-fresh-juice"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Cocinera de comida corta</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>