<div class="gb-breadcrumb section-before gb-parallax">
    <div class="container text-center">
      <div class="breadcrumb-info">
        <ol class="breadcrumb">
          <li class="breadcrumb-item font-pacifico"><a href="index.html">Inicio</a></li>
          <li class="breadcrumb-item active">Servicios</li>
        </ol>
        <div class="page-title">
          <h1>Nuestros servicios</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-services section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/1.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Banquetes y eventos</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/2.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Fiesta de cumpleaños</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/3.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Entrega gratuita a domicilio</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/4.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Cenas privadas</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/5.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Rodajes cinematográficos</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service">
            <div class="service-image">
              <img src="assets/images/service/6.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="service-info">
              <h1>Eventos benéficos</h1>
              <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat
                facer possim.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-cta section-padding section-before gb-parallax" style="background-image: url(assets/images/bg/cta-bg.jpg)">
    <div class="container text-center">
      <div class="cta-info">
        <h1 class="font-pacifico">Le damos la bienvenida a Jalebi Restuarent !</h1>
        <h2>Servimos una variedad de bocadillos y comidas. ¿Listo para reservar tu mesa?</h2>
        <a href="#" class="btn btn-primary">Reserva tu mesa ahora</a>
      </div>
    </div>
  </div>
  <div id="about" class="gb-about section-padding">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Nuevo en Jalebi</h1>
        <h2>¿Por qué elegir Jalebi?</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
      </div>
      <div class="about-content text-left">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-dining-table"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Mesas limpias</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-spoon-and-fork"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Plato limpio</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-tea"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida presente</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-sushi"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Communicación</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-beer"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Servicio especial</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-pizza"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida única</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-noodles"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Comida rápida</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-french-fries"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Ambiente amigable</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="about">
              <div class="float-left">
                <div class="icon"><span><i class="icofont icofont-fresh-juice"></i></span></div>
              </div>
              <div class="about-info">
                <h3>Cocinera de comida corta</h3>
                <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim
                  placerat.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
