<div class="gb-breadcrumb section-before gb-parallax">
    <div class="container text-center">
      <div class="breadcrumb-info">
        <ol class="breadcrumb">
          <li class="breadcrumb-item font-pacifico"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Menu</li>
        </ol>
        <div class="page-title">
          <h1>Our Menu</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-food-menu section-padding">
    <div class="container">
      <div class="portfolio-menu">
        <ul class="global-list" id="portfolio-menu">
          <li data-filter="*" class="cbp-filter-item cbp-filter-item-active">All</li>
          <li data-filter=".breakfast" class="cbp-filter-item">Breakfast</li>
          <li data-filter=".lunch" class="cbp-filter-item">Lunch</li>
          <li data-filter=".dinner" class="cbp-filter-item">Dinner</li>
          <li data-filter=".others" class="cbp-filter-item">Drinks</li>
        </ul>
      </div>
      <div id="portfolio-content" class="food-menu">
        <div class="cbp-item others">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/1.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/1.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item breakfast dinner">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/2.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/2.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$17</span>
                <h3>Pastries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item lunch others">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/3.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/3.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$25</span>
                <h3>Soupe Au Pistou</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item dinner breakfast">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/4.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/5.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$12</span>
                <h3>Homemade Burger</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item lunch breakfast">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/5.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/6.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$16</span>
                <h3>French Fries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item others lunch">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/6.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/7.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$10</span>
                <h3>Ciabatta Bread</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item dinner">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/7.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/7.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item dinner breakfast">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/8.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/8.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$19</span>
                <h3>Croissant With Fruits</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item others dinner breakfast">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/9.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/9.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item lunch">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/10.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/10.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$12</span>
                <h3>Pastries</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item dinner breakfast">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/11.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/11.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$15</span>
                <h3>Vagitable Eggs</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
        <div class="cbp-item others lunch">
          <div class="menu-item">
            <div class="item-image">
              <img src="assets/images/menu/12.jpg" alt="Image" class="img-fluid">
              <div class="gb-overlay">
                <div class="overlay-content">
                  <a href="assets/images/menu/12.jpg" class="image-link"><i class="icofont icofont-open-eye"></i></a>
                </div>
              </div>
            </div>
            <div class="item-info">
              <div class="menu-title">
                <span>$08</span>
                <h3>Ciabatta bread</h3>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit,</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="gb-convenience section-before section-padding gb-parallax"
    style="background-image: url(assets/images/bg/convenience-bg.jpg)">
    <div class="container text-center">
      <div class="row">
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-kids-scooter"></i></span>
            <h1>Kids Zone</h1>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-wifi-router"></i></span>
            <h1>Free WiFi</h1>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="convenience">
            <span class="icon"><i class="icofont icofont-direction-sign"></i></span>
            <h1>Parking Place</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="reservation" class="gb-section section-padding">
    <div class="container text-center">
      <div class="section-title">
        <h1 class="font-pacifico">Ready to get your table</h1>
        <h2>Reservation</h2>
        <span><i class="fa fa-empire" aria-hidden="true"></i></span>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
      </div>
      <form name="contact-form" method="post" action="#">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" required="required" placeholder="Your Name">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="email" class="form-control" required="required" placeholder="Your Email">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="text" class="form-control" required="required" placeholder="Contact Number">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control">
                <option value="#">Persons</option>
                <option value="#">1 Persons</option>
                <option value="#">2 Persons</option>
                <option value="#">3 Persons</option>
                <option value="#">4 Persons</option>
                <option value="#">5 Persons</option>
                <option value="#">6 Persons</option>
                <option value="#">7 Persons</option>
                <option value="#">8 Persons</option>
                <option value="#">9 Persons</option>
                <option value="#">10 Persons</option>
                <option value="#">11 Persons</option>
                <option value="#">12 Persons</option>
                <option value="#">13 Persons</option>
                <option value="#">14 Persons</option>
                <option value="#">15 Persons</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <input type="date" class="form-control" value="2017-11-10">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <select class="form-control">
                <option value="#">Time</option>
                <option value="#">Time 8:00am</option>
                <option value="#">Time 8:30am</option>
                <option value="#">Time 9:00am</option>
                <option value="#">Time 9:30am</option>
                <option value="#">Time 10:00am</option>
                <option value="#">Time 10:30am</option>
                <option value="#">Time 11:00am</option>
                <option value="#">Time 11:30am</option>
                <option value="#">Time 12:00pm</option>
                <option value="#">Time 12:30pm</option>
                <option value="#">Time 1:00pm</option>
                <option value="#">Time 1:30pm</option>
                <option value="#">Time 2:00pm</option>
                <option value="#">Time 2:30pm</option>
                <option value="#">Time 3:00pm</option>
                <option value="#">Time 3:30pm</option>
                <option value="#">Time 4:00pm</option>
                <option value="#">Time 4:30pm</option>
                <option value="#">Time 5:00pm</option>
                <option value="#">Time 5:30pm</option>
                <option value="#">Time 6:00pm</option>
                <option value="#">Time 6:30pm</option>
                <option value="#">Time 7:00pm</option>
                <option value="#">Time 7:30pm</option>
                <option value="#">Time 8:00pm</option>
                <option value="#">Time 8:30pm</option>
                <option value="#">Time 9:00pm</option>
                <option value="#">Time 9:30pm</option>
                <option value="#">Time 10:00pm</option>
                <option value="#">Time 10:30pm</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <textarea name="message" class="form-control" required="required" rows="5"
                placeholder="Enter Your Requirements..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary text-center" value="Reservation Request">
          </div>
        </div>
      </form>
    </div>
  </div>
