<div class="gb-breadcrumb section-before gb-parallax">
    <div class="container text-center">
      <div class="breadcrumb-info">
        <ol class="breadcrumb">
          <li class="breadcrumb-item font-pacifico"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Blog</li>
        </ol>
        <div class="page-title">
          <h1>Our Blog</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
            laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis </p>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content blog-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-9">
          <div class="blog-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/1.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>02<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/2.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>03<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/3.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>04<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/4.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>05<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/5.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>06<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="gb-post">
                  <div class="entry-header">
                    <div class="entry-thumbnail">
                      <a href="blog-details.html"><img src="assets/images/blog/6.jpg" alt="Image" class="img-fluid"></a>
                    </div>
                  </div>
                  <div class="entry-content">
                    <h2 class="entry-title"><a href="blog-details.html">Duis autem vel eum iriure dolor</a></h2>
                    <div class="clearfix">
                      <div class="post-time">
                        <span>02<span>Nov</span></span>
                      </div>
                      <div class="entry-meta">
                        <ul class="global-list list-inline">
                          <li class="list-inline-item"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i>By:
                              Simon</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i>17
                              Comments</a></li>
                          <li class="list-inline-item"><a href="#"><i class="fa fa-folder-open-o"
                                aria-hidden="true"></i>Web Design</a></li>
                        </ul>
                      </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                      ut laoreet dolore magna aliquam erat volutpat. </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="gb-pagination text-center">
              <ul class="pagination">
                <li class="page-item float-left"><a class="page-numbers" href="#"><i
                      class="icofont icofont-long-arrow-left"></i></a></li>
                <li class="page-item"><a class="page-numbers" href="#">1</a></li>
                <li class="page-item"><a class="page-numbers" href="#">2</a></li>
                <li class="page-item active"><a class="page-numbers" href="#">3</a></li>
                <li class="page-item"><a class="page-numbers" href="#">4</a></li>
                <li class="page-item"><a class="page-numbers" href="#">5</a></li>
                <li class="page-item"><a class="page-numbers" href="#">6</a></li>
                <li class="page-item"><a class="page-numbers" href="#">7</a></li>
                <li class="page-item"><a class="page-numbers" href="#">8</a></li>
                <li class="page-item"><a class="page-numbers" href="#">9</a></li>
                <li class="page-item float-right"><a class="page-numbers" href="#"><i
                      class="icofont icofont-long-arrow-right"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <div class="gb-sidebar">
            <div class="widget-area">
              <div class="widget widget_search">
                <form role="search" id="search-form" method="get" action="#">
                  <input type="search" class="form-control" autocomplete="off" name="s" placeholder="Type your Search"
                    id="search-input" value>
                  <button type="submit" id="search-submit" class="btn"><i class="fa fa-search"></i></button>
                </form>
              </div>
              <div class="widget widget_categories">
                <h3 class="widget-title">Categories</h3>
                <ul>
                  <li><a href="#">Hot Drink</a>15</li>
                  <li><a href="#">Spicy Food</a>24</li>
                  <li><a href="#">Dessert</a>05</li>
                  <li><a href="#">Discount Event</a>17</li>
                  <li><a href="#">Hot Drink</a> 15</li>
                  <li><a href="#">Spicy Food</a>24</li>
                  <li><a href="#">Dessert</a>05</li>
                  <li><a href="#">Discount Event</a>17</li>
                </ul>
              </div>
              <div class="widget widget_recent_entries">
                <h3 class="widget-title">Recent Posts</h3>
                <ul>
                  <li>
                    <span><a href="#">Standard post with preview</a></span>
                    <p>consectetur adipisicing elit. Optio error accusantium.</p>
                  </li>
                  <li>
                    <span><a href="#">Standard post with preview</a></span>
                    <p>consectetur adipisicing elit. Optio error accusantium.</p>
                  </li>
                  <li>
                    <span><a href="#">Standard post with preview</a></span>
                    <p>consectetur adipisicing elit. Optio error accusantium.</p>
                  </li>
                  <li>
                    <span><a href="#">Standard post with preview</a></span>
                    <p>consectetur adipisicing elit. Optio error accusantium.</p>
                  </li>
                </ul>
              </div>
              <div class="widget">
                <h3 class="widget-title">Tags Cloud</h3>
                <div class="tagcloud">
                  <a href="#">Food</a>
                  <a href="#">Spicy</a>
                  <a href="#">Mutrition</a>
                  <a href="#">New Menu</a>
                  <a href="#">Drink</a>
                  <a href="#">5 Start Restaurent</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
